---
import { site } from "../data/site";
const year = new Date().getFullYear();
---
<footer>
  <span class="foot-l">{site.name}, {year}</span>
  <span class="foot-r">{site.footerNote}</span>
</footer>
